body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: secrilka;
    src: url(secrilka-font/Secrilka-7O3oD.otf);
}
.scroll{
    top: 80%;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 600px;
    height: 700px;
    background-color: palegoldenrod;
    font-family: secrilka;

}



.mainButton{
    
    margin: 40px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.mainButton:hover{
    color: red;
    width: 110;
    height: 60;
}

.difsel{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 20px;
}

.attempt{
    margin-top: 20px;
    left: 300px;
    position: relative;
    font-size: larger;
}

.letter{
    font-size: 30px;
    margin: 30px;
}

.anouncement{
    font-size: 70px;
    height: fit-content;
    padding: 5px;
    margin: 30px;
    margin-left: 20%;
    border: 3px dotted red;
    color: red;
}